*
{
	margin: 0;
	padding: 0;
}
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img{
	height: 100px;
	padding-left: 50px;	
}
.navbar-nav li
{
padding: 0 10px;
font-weight: bold;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover{
	color: #007bff;
}
.navbar navbar-toggleable-md navbar-light{
	background: #fff;
}
.navbar-toggler navbar-toggler-right{
	border: none;	
}
.nav-item nav-link{
	color: #555;
	font-weight: 600;
	font-size: 16px;
}
#ABOUT
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#ABOUT .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.ABOUT-CONTENT{
	padding-top: 20px;
}
.news letter head{
	padding-right: 20px;
}
#news_letter .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #00ff00;
}
#footer{
	font-weight: 25px;
	font-family: bold;
	
}